body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

main {
    margin-top: 60px; /* Matches the header height */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
}

.about-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3em;
    background: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.desktop-about-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3em;
    background: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.desktop-about-section h1 {
    font-size: 5.5em;
    line-height: 0.0001;
    margin-bottom: 0.5em;
    color: #ffffff;
}

.desktop-about-section p {
    font-size: 1.2em;
    line-height: 1.0;
    color: #ffffff;
}

/* Default: Show desktop, hide mobile */
.desktop-home {
    display: block;
}
.mobile-home {
    display: none;
}

/* Default styling for the MOBILE ABOUT US Container */
.mobile-about-section {
    max-width: 70%;
    margin: auto;
    background: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.mobile-about-section h1 {
    font-size: 2.5em;
    line-height: 0.0001;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: #ffffff;
}

.mobile-about-section p {
    font-size: 1.2em;
    line-height: 1.0;
    color: #ffffff;
    text-align: center; /* Center-align the text */
    margin: 0 auto; /* Centers the element within its container */
}

.about-image img {
    border-radius: 10px;
}

/* --------------------------------------------- SECTION DIVIDER ---------------------------------------------------------- */

p, li {
    text-align: justify;
}

header {
    background-color: #4caf50; /* Hop green color */
    color: #ffffff;
    padding: 1em 0; /* Reduced padding to make the header smaller */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

header.desktop-header {
    background-color: #4caf50;
    color: #ffffff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;Fstick
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.app-name {
    font-size: 1.8em;
    margin: 0;
}

.logo img {
    height: 50px;
    margin: 0 1em;
}


/* --------------------------------------------- SECTION DIVIDER -- HEADER SECTION ---------------------------------------------------------- */

header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    position: relative;
    z-index: 2000;
}

header nav ul li {
    margin: 0;
    display: inline-block;
    position: relative;
    z-index: 2000;
}

header nav ul li a {
    display: block;
    padding: 0.5px 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}

header nav ul li ul.dropdown li {
    display: block;
    }

header nav ul li ul.dropdown {
    width: 250px;
    background: #4caf50;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: none;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    }

header nav ul li a:hover {
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.6); /* Adjust the color and blur to your liking */
    transition: all 0.3s ease; /* Smooth transition for the effect */
    /*background: #45a049; --- Original Code. A simple version of the highlight for the button*/
    }

header nav ul li:hover ul.dropdown {
    display: block;
    }

/* Add hover color for dropdown links */
header nav ul li ul.dropdown li a {
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    background-color: #4caf50;
    overflow: visible;
}

header nav ul li ul.dropdown li a:hover {
    background-color: #45a049; /* Change background color on hover */
}


/* --------------------------------------------- SECTION DIVIDER -- FOOTER SECTION ---------------------------------------------------------- */

/* Style details for DESKTOP FOOTER*/
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 2em;
}


/* Style details for MOBILE FOOTER*/
footer.mobile-footer {
    background-color: #333;
    color: white;
    padding: 2em 1em;
}

footer .mobile-footer container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer.mobile-footer h4 {
    margin: 0;
    font-size: 1.8em;
}

footer.mobile-footer ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    text-align: center;
}

footer.mobile-footer ul li {
    margin: 0.5em 0;
}

footer.mobile-footer ul li a {
    color: white;
    text-decoration: none;
}

footer.mobile-footer ul li a:hover {
    text-decoration: underline;
}

footer.mobile-footer .social-media, footer.mobile-footer .store-buttons {
    margin: 1em 0;
    text-align: center;
}

footer.mobile-footer .social-media img, footer.mobile-footer .store-buttons img {
    height: 40px;
    margin: 0 10px;
}

footer.mobile-footer p {
    text-align: center;
    margin: 2em 0 0;
}

/* Default: Show desktop footer, hide mobile footer */
footer.desktop-footer {
    display: block;
}

footer.mobile-footer {
    display: none;
}


/* --------------------------------------------- SECTION DIVIDER -- GENERALS ---------------------------------------------------------- */

/* Style details for SECTION*/
section {
    padding: 2em 0;
    margin-top: 5em; /* Added to avoid overlapping with fixed header */
}

.light-green {
    background-color: #e8f5e9;
}

.light-gray {
    background-color: #f4f4f4;
}

/* Style details for FORM*/
form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style details for BUTTON*/
button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}



/* --------------------------------------------- SECTION DIVIDER -- INDEX - FEATURES SECTION (renamed - TOOLS) ---------------------------------------------------------- */

/* Style for the FEATURES Section */
.features-section {
    color: white;
}

/* Default font size for desktop - unchanged */
#feature-title h1 {
    font-size: 3em; /* Keeps desktop font size as it is */
    line-height: 1.2; /* Space between lines */
    word-wrap: break-word; /* Ensures long words break if necessary */
}

.features-section h2 {
    text-align: left;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.features-section h3 {
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.feature-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.feature-column {
    width: 27%;
    padding: 1em;
    color: #ffffff;
}

.feature-column h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.feature-column p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Style for the FEATURES rows */
.feature-row {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

/* Style for individual FEATURES items */
.feature-item {
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
}

.feature-item img {
    max-width: 25%;
    height: auto;
}

.feature-item h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.feature-item p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Actual Features Page listing style*/
.featlist-section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1.5em;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.featlist-title-left, .featlist-title-right {
    font-size: 2.5em;
    color: #4caf50;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 0.5em;
}

.featlist-title-left {
    text-align: left;
}

.featlist-title-right {
    text-align: right;
}

/* Features Section (Desktop) */
.features-desktop {
    background-color: #4caf50; /* Solid green background */
    color: white;
    padding: 2em 0;
}

.features-section h2 {
    font-size: 6em;
    margin-bottom: 0.5em;
    text-align: center;
}

.features-section h3 {
    font-size: 1.8em;
    margin-bottom: 1.5em;
    text-align: center;
}

.feature-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.feature-column {
    width: 30%;
    padding: 1em;
    color: #ffffff;
}

.feature-column h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.feature-column p,
.feature-column li {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Features Section (Mobile) */
.features-mobile {
    background-color: #4caf50; /* Solid green background */
    color: white;
    padding: 2em 0;
}

.mobile-features-section h2 {
    font-size: 5em;
    text-align: center;
}

.mobile-features-section h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.mobile-features-section .feature-column {
    margin-bottom: 1.5em;
}

.mobile-features-section .feature-column h4 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.mobile-features-section .feature-column p,
.mobile-features-section .feature-column li {
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
}

/* Desktop: Default, hide mobile version */
.features-desktop {
    display: block; /* Show desktop features */
}

.features-mobile {
    display: none; /* Hide mobile features */
}

.features-mobile .feature-column {
    width: 100%; /* Full width for mobile */
    box-sizing: border-box; /* Include padding and border in width */
    margin-bottom: 1.5em; /* Add spacing between columns */
    padding: 1em; /* Optional padding for better readability */
    text-align: center; /* Center content */
}

.separator-features {
    border: none;
    border-top: 2px solid #f4f4f4; /* Light gray separator */
    margin: 2em 0; /* Space above and below the line */
    width: 100%; /* Reduced width for a centered line */
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------------- SECTION DIVIDER - INDEX - IN ACTION SECTION ---------------------------------------------------------- */

/* INACTION SECTION (DESKTOP) */
.inaction-desktop {
    background-color: #f4f4f4; /* Light gray background */
    padding: 2em 0;
    display: block;
}

.inaction-desktop .feature-row {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.inaction-desktop .feature-item {
    flex: 1;
    padding: 1em;
    text-align: justify;
}

.inaction-desktop .feature-item img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* INACTION SECTION (MOBILE) */
.inaction-mobile {
    background-color: #f4f4f4; /* Light gray background */
    padding: 2em 0;
    display: none;
}

.inaction-mobile .container {
    width: 80%; /* Allow the container to occupy the full width */
    padding: 0;  /* Remove extra padding */
    margin: 0 auto; /* Center alignment */
    overflow: visible; /* Ensure no clipping */
}

.inaction-mobile h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    padding-top: 1.5em;
}

.inaction-mobile .inaction-item {
    margin-bottom: 3em;
    position: relative; /* Allows positioning of the images */
    overflow: hidden; /* Ensures the tilted images don't cause unwanted scrollbars */
}

.inaction-mobile .inaction-item img {
    width: 100%; /* Ensure the image is large enough to extend beyond the container */
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: visible; /* Ensures the tilted images don't cause unwanted scrollbars */
    top: 0; /* Ensure the image starts at the top of the container */
    margin-bottom: 10em; /* Space below the image */
}

/* Ensure the container expands to fit the tilted image */
.inaction-mobile .inaction-item {
    overflow: visible; /* Allow the image to overflow outside the container */
    margin-bottom: 2em; /* Add spacing between sections */
    position: relative; /* Keep positioning intact */
}

/* Optional Styling for Text */
.inaction-mobile .inaction-item h3 {
    font-size: 2em;
    text-align: center;
}

.inaction-mobile .inaction-item p {
    padding: 2em;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 2em; /* Space between text and image */
    text-align: center;
}

/* Specific Styling for Tilted IMAGES for the mobile */
.inaction-mobile .inaction-item img.abv-img {
    width: 90%;
    transform: rotate(-10deg);
    left: 01%;
}

.inaction-mobile .inaction-item img.color-wheel-img {
    width: 100%;
    transform: rotate(-10deg);
    left: -01%;
}

.inaction-mobile .inaction-item img.alpha-acid-img {
    width: 90%;
    transform: rotate(10deg);
    left: -01%;
}

.inaction-mobile .inaction-item img.temp-converter-img {
    width: 90%;
    transform: rotate(-10deg);
    left: 01%;
}

.separator-inaction {
    border: none;
    border-top: 2px solid rgba(76, 175, 80, 0.6); /* Semi-transparent green */
    margin: 2em 0; /* Space above and below the line */
    width: 80%; /* Centered with reduced width */
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------------- SECTION DIVIDER - FAQ ---------------------------------------------------------- */

/* Style details for FAQ Page*/
.faq-section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1.5em;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.faq-answer {
    display: none;
    padding: 1em;
    background-color: #e8f5e9;
    border-radius: 5px;
    margin-bottom: 1em;
}

.faq-question:hover {
    background-color: #45a049;
}


/* --------------------------------------------- SECTION DIVIDER - MOBILE HEADER ---------------------------------------------------------- */

/* Style details for MOBILE HEADER*/
header.mobile-header {
    display: none;
    background-color: #4caf50;
    color: #ffffff;
    padding: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.mobile-logo {
    display: flex;
    align-items: center;
}

.mobile-logo img {
    max-height: 50px;
}

.mobile-app-name {
    text-align: center;
    flex-grow: 1;
    font-size: 1.5em;
}

.hamburger-menu {
    font-size: 1.5em;
    cursor: pointer;
}

.mobile-dropdown-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%; /* Full width of the screen */
    max-height: calc(100vh - 60px); /* Dropdown height limited to viewport */
    overflow-y: auto; /* Adds scroll for overflow */
    background-color: #4caf50;
    z-index: 9999; /* Higher than any content below */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-dropdown-menu a.indented {
    /*font-style: italic; ---  DONT ERASE, COMMENTED OUT IN CASE IT CAN BE USED IN THE FUTURE*/
    padding-left: 3em;
}

.mobile-dropdown-menu a.bold {
    font-weight: bold;D
}

.mobile-dropdown-menu.open {
    display: flex;
}

.mobile-dropdown-menu a {
    text-decoration: none;
    color: white;
    padding: 0.75em 1em;
}

.mobile-dropdown-menu a:hover {
    background-color: #45a049;
}


/* --------------------------------------------- SECTION DIVIDER - MEDIA QUERY RESTRICTIONS ---------------------------------------------------------- */

/* Style details for MEDIA RESTRICTIONS TO SELECT DESCKTOP OR MOBILE*/
@media (max-width: 1100px) {
    header.desktop-header {
        display: none;
    }

    header.mobile-header {
        display: flex;
    }

    .mobile-dropdown-menu {
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #4caf50;
    }

    footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .container > div {
        flex: 1;
        text-align: left;
        padding: 0 1em;
    }

    footer .container > div:nth-child(2) {
        text-align: center;
    }

    footer .container > div:last-child {
        text-align: right;
    }

    footer.desktop-footer {
        display: none;
    }

    footer.mobile-footer {
        display: block;
    }

    .desktop-home {
        display: none;
    }

    .mobile-home {
        display: block;
    }

    .features-desktop {
        display: none; /* Hide desktop features */
    }

    .features-mobile {
        display: block; /* Show mobile features */
    }

    .inaction-desktop {
        display: none;
    }

    .inaction-mobile {
        display: block;
    }
}

@media (max-width: 702px) {
    header.mobile-header {
        padding-bottom: 1em;
    }

    .mobile-dropdown-menu {
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #4caf50;
    }
}

/* Smaller screens: Tablets */
@media (max-width: 768px) {
    #feature-title h1 {
        font-size: 2.5em; /* Slightly smaller for tablets */
    }
}

/* Smaller screens: Phones */
@media (max-width: 480px) {
    #feature-title h1 {
        font-size: 2em; /* Further reduce for phones */
    }
}